<!-- A really basic homepage. -->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>National Perks</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/creative.min.css" rel="stylesheet">

  </head>
  
  <body id="page-top">
  
      <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="https://github.com/avahoffman/Natural_parks">Github</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="mailto:avamariehoffman@gmail.com">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
      <!-- Main form -->

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>National Perks</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Avoid crowds under the best conditions</p>
          </div>
        </div>
      </div>
    </header>
        
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
     
     <!-- park and temp options -->     
          
          <p class="text-faded mb-5"> 
           <form action='/results', method='POST'>
			<select name="location" id="location" class="selectpicker form-control">
      <option selected="selected" value = 'Acadia NP'>Select Park</option>
      <option value="Acadia NP">Acadia NP</option>
      <option value="Arches NP">Arches NP</option>
      <option value="Badlands NP">Badlands NP</option>
      <option value="Big Bend NP">Big Bend NP</option>
      <option value="Biscayne NP">Biscayne NP</option>
      <option value="Black Canyon of the Gunnison NP">Black Canyon of the Gunnison NP</option>
      <option value="Bryce Canyon NP">Bryce Canyon NP</option>
      <option value="Canyonlands NP">Canyonlands NP</option>
      <option value="Capitol Reef NP">Capitol Reef NP</option>
      <option value="Carlsbad Caverns NP">Carlsbad Caverns NP</option>
      <option value="Channel Islands NP">Channel Islands NP</option>
      <option value="Congaree NP">Congaree NP</option>
      <option value="Crater Lake NP">Crater Lake NP</option>
      <option value="Cuyahoga Valley NP">Cuyahoga Valley NP</option>
      <option value="Death Valley NP">Death Valley NP</option>
      <option value="Dry Tortugas NP">Dry Tortugas NP</option>
      <option value="Everglades NP">Everglades NP</option>
      <option value="Gateway Arch NP">Gateway Arch NP</option>
      <option value="Glacier NP">Glacier NP</option>
      <option value="Grand Canyon NP">Grand Canyon NP</option>
      <option value="Grand Teton NP">Grand Teton NP</option>
      <option value="Great Basin NP">Great Basin NP</option>
      <option value="Great Sand Dunes NP & PRES">Great Sand Dunes NP & PRES</option>
      <option value="Great Smoky Mountains NP">Great Smoky Mountains NP</option>
      <option value="Guadalupe Mountains NP">Guadalupe Mountains NP</option>
      <option value="Hot Springs NP">Hot Springs NP</option>
      <option value="Isle Royale NP">Isle Royale NP</option>
      <option value="Joshua Tree NP">Joshua Tree NP</option>
      <option value="Kings Canyon NP">Kings Canyon NP</option>
      <option value="Lassen Volcanic NP">Lassen Volcanic NP</option>
      <option value="Mammoth Cave NP">Mammoth Cave NP</option>
      <option value="Mesa Verde NP">Mount Rainier NP</option>
      <option value="North Cascades NP">North Cascades NP</option>
      <option value="Olympic NP">Olympic NP</option>
      <option value="Petrified Forest NP">Petrified Forest NP</option>
      <option value="Pinnacles NP">Pinnacles NP</option>
      <option value="Redwood NP">Redwood NP</option>
      <option value="Rocky Mountain NP">Rocky Mountain NP</option>
      <option value="Saguaro NP">Saguaro NP</option>
      <option value="Sequoia NP">Sequoia NP</option>
      <option value="Shenandoah NP">Shenandoah NP</option>
      <option value="Theodore Roosevelt NP">Theodore Roosevelt NP</option>
      <option value="Voyageurs NP">Voyageurs NP</option>
      <option value="Wind Cave NP">Wind Cave NP</option>
      <option value="Yellowstone NP">Yellowstone NP</option>
      <option value="Yosemite NP">Yosemite NP</option>
      <option value="Zion NP">Zion NP</option>
  				</select>
  				<br><br>
  				
  			<p class="text-faded mb-4">How hot is too hot (F) ? We use maximum temperature at the closest NOAA weather station.</p>
    		<div class="slidecontainer">
  				<input type="range" min="30" max="120" value="80" class="slider" id="myRange" name="max_temp_input">
				<p><span id="demo"></span>F</p>
				</div>

    		<br><br>
  			         
  			<p class="text-faded mb-4">How cold is too cold (F) ? We use minimum temperature.</p>
    		<div class="slidecontainer">
  				<input type="range" min="-10" max="60" value="45" class="slider" id="myRange2" name="min_temp_input">
				<p><span id="demo2"></span>F</p>
				</div>
<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
<script>
var slider2 = document.getElementById("myRange2");
var output2 = document.getElementById("demo2");
output2.innerHTML = slider2.value;

slider2.oninput = function() {
  output2.innerHTML = this.value;
}
</script>
    		<br><br>
  			
  			<br><hr class="light my-4"><br>
  			
  			<!-- Weights -->
  				
  				
  				<p class="text-faded mb-4">How important is solitude?</p>
  				<div class="slidecontainer">
  				<input type="range" min="1" max="10" value="5" class="slider" id="myRange" name="crowd_importance">
				</div>
				
				<p class="text-faded mb-4">How important is hitting your low temperature?</p>
  				<div class="slidecontainer">
  				<input type="range" min="1" max="10" value="5" class="slider" id="myRange" name="min_importance">
				</div>
				
				<p class="text-faded mb-4">How important is hitting your max. temperature?</p>
  				<div class="slidecontainer">
  				<input type="range" min="1" max="10" value="5" class="slider" id="myRange" name="max_importance">
				</div>


            
            <br><br>
            <button class="btn btn-primary btn-xl js-scroll-trigger" type="submit">When should I visit?</button>
          </div>
        </div>
      </div>
      <!-- </form>??? -->
    </section>
    


    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/creative.min.js"></script>

  </body>
</html>